{
  "openapi": "3.1.1",
  "info": {
    "title": "Moon Banking API",
    "description": "# Welcome to the Moon Banking API!\n\nEnjoy the documentation and happy coding. Share this spec with your LLM of choice to speed up your development, or take a look at our MCP server and various SDKs.\n\n### More information\n\nFor more information about the Moon Banking API, please visit the [Moon Banking Documentation](https://docs.moonbanking.com).",
    "version": "2025-07-11",
    "contact": {
      "name": "Moon Banking Support",
      "url": "https://moonbanking.com",
      "email": "support@e.moonbanking.com"
    },
    "license": {
      "name": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.moonbanking.com/v1",
      "description": "Production"
    }
  ],
  "components": {
    "securitySchemes": {
      "Authorization": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "paths": {
    "/banks/by-hostname": {
      "get": {
        "operationId": "bank-getByHostname",
        "description": "This endpoint allows you to retrieve banks by hostname. It will return up to one bank per country that matches the provided hostname. The hostname is normalized (www. prefix removed if present) and matched against both the primary hostname and alternative hostnames.",
        "tags": ["banks"],
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "name": "hostname",
            "in": "query",
            "required": true,
            "schema": {
              "description": "The hostname to search for (e.g., \"fidelity.com\" or \"www.fidelity.com\").",
              "example": "fidelity.com",
              "type": "string",
              "minLength": 1
            },
            "description": "The hostname to search for (e.g., \"fidelity.com\" or \"www.fidelity.com\")."
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "scores,country"
            },
            "description": "An optional  comma-separated list of fields to include in the response. Possible values: `scores`, `country`"
          },
          {
            "name": "pageTitle",
            "in": "query",
            "required": false,
            "schema": {
              "description": "The title of the web page.",
              "example": "Fidelity Investments",
              "type": "string"
            },
            "description": "The title of the web page."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [true]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "description": "The bank's auto-generated unique identifier.",
                            "example": "6jkxE4N8gHXgDPK",
                            "type": "string"
                          },
                          "name": {
                            "description": "The bank's official name or display name.",
                            "example": "Fidelity",
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 256
                          },
                          "rank": {
                            "description": "The bank's worldwide rank. Based on the bank's overall score, which is determined by user votes across all categories. Only banks with at least 10 votes are ranked.",
                            "example": 1,
                            "anyOf": [
                              {
                                "type": "integer",
                                "minimum": 0,
                                "maximum": 9007199254740991
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "countryRank": {
                            "description": "The bank's rank within the country. Based on the bank's overall score, which is determined by user votes across all categories. Only banks with at least 10 votes are ranked.",
                            "example": 1,
                            "anyOf": [
                              {
                                "type": "integer",
                                "minimum": 0,
                                "maximum": 9007199254740991
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "url": {
                            "description": "The bank's official website URL.",
                            "example": "https://www.fidelity.com",
                            "anyOf": [
                              {
                                "type": "string",
                                "format": "uri"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "description": {
                            "description": "The bank's description in Markdown (md) format.",
                            "example": "# Fidelity\n\nFidelity is a financial institution that provides banksing and investment services to individuals.",
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "storiesCount": {
                            "description": "The number of stories for this bank.",
                            "example": 10,
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 9007199254740991
                          },
                          "scores": {
                            "description": "Vote totals and scores for this bank across all categories. All votes are cast by users.",
                            "type": "object",
                            "properties": {
                              "overall": {
                                "description": "Aggregate voting counts and score for this bank across all voting categories.",
                                "example": {
                                  "total": 45,
                                  "up": 30,
                                  "down": 15,
                                  "score": 33
                                },
                                "type": "object",
                                "properties": {
                                  "total": {
                                    "description": "The total number of votes for this bank. This is the sum of upvotes and downvotes across all categories.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "up": {
                                    "description": "The total number of upvotes for this bank. This is the sum of upvotes across all categories.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "down": {
                                    "description": "The total number of downvotes for this bank. This is the sum of downvotes across all categories.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "score": {
                                    "description": "The overall score for this bank across all categories, ranging from -100 to 100.",
                                    "type": "integer",
                                    "minimum": -100,
                                    "maximum": 100
                                  }
                                },
                                "required": ["total", "up", "down", "score"]
                              },
                              "cryptoFriendly": {
                                "description": "Aggregate voting counts and score for crypto-friendliness category for this bank.",
                                "example": {
                                  "total": 12,
                                  "up": 8,
                                  "down": 4,
                                  "score": 33
                                },
                                "type": "object",
                                "properties": {
                                  "total": {
                                    "description": "The total number of votes for crypto-friendliness for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "up": {
                                    "description": "The total number of upvotes for crypto-friendliness for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "down": {
                                    "description": "The total number of downvotes for crypto-friendliness for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "score": {
                                    "description": "The score for the crypto-friendliness category, ranging from -100 to 100.",
                                    "type": "integer",
                                    "minimum": -100,
                                    "maximum": 100
                                  }
                                },
                                "required": ["total", "up", "down", "score"]
                              },
                              "customerService": {
                                "description": "Aggregate voting counts and score for customer service category for this bank.",
                                "example": {
                                  "total": 10,
                                  "up": 7,
                                  "down": 3,
                                  "score": 40
                                },
                                "type": "object",
                                "properties": {
                                  "total": {
                                    "description": "The total number of votes for customer service for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "up": {
                                    "description": "The total number of upvotes for customer service for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "down": {
                                    "description": "The total number of downvotes for customer service for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "score": {
                                    "description": "The score for the customer service category, ranging from -100 to 100.",
                                    "type": "integer",
                                    "minimum": -100,
                                    "maximum": 100
                                  }
                                },
                                "required": ["total", "up", "down", "score"]
                              },
                              "feesPricing": {
                                "description": "Aggregate voting counts and score for fees & pricing category for this bank.",
                                "example": {
                                  "total": 8,
                                  "up": 5,
                                  "down": 3,
                                  "score": 25
                                },
                                "type": "object",
                                "properties": {
                                  "total": {
                                    "description": "The total number of votes for fees & pricing for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "up": {
                                    "description": "The total number of upvotes for fees & pricing for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "down": {
                                    "description": "The total number of downvotes for fees & pricing for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "score": {
                                    "description": "The score for the fees & pricing category, ranging from -100 to 100.",
                                    "type": "integer",
                                    "minimum": -100,
                                    "maximum": 100
                                  }
                                },
                                "required": ["total", "up", "down", "score"]
                              },
                              "digitalExperience": {
                                "description": "Aggregate voting counts and score for digital experience category for this bank.",
                                "example": {
                                  "total": 7,
                                  "up": 4,
                                  "down": 3,
                                  "score": 14
                                },
                                "type": "object",
                                "properties": {
                                  "total": {
                                    "description": "The total number of votes for digital experience for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "up": {
                                    "description": "The total number of upvotes for digital experience for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "down": {
                                    "description": "The total number of downvotes for digital experience for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "score": {
                                    "description": "The score for the digital experience category, ranging from -100 to 100.",
                                    "type": "integer",
                                    "minimum": -100,
                                    "maximum": 100
                                  }
                                },
                                "required": ["total", "up", "down", "score"]
                              },
                              "securityTrust": {
                                "description": "Aggregate voting counts and score for security & trust category for this bank.",
                                "example": {
                                  "total": 9,
                                  "up": 6,
                                  "down": 3,
                                  "score": 33
                                },
                                "type": "object",
                                "properties": {
                                  "total": {
                                    "description": "The total number of votes for security & trust for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "up": {
                                    "description": "The total number of upvotes for security & trust for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "down": {
                                    "description": "The total number of downvotes for security & trust for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "score": {
                                    "description": "The score for the security & trust category, ranging from -100 to 100.",
                                    "type": "integer",
                                    "minimum": -100,
                                    "maximum": 100
                                  }
                                },
                                "required": ["total", "up", "down", "score"]
                              },
                              "accountFeatures": {
                                "description": "Aggregate voting counts and score for account features category for this bank.",
                                "example": {
                                  "total": 6,
                                  "up": 4,
                                  "down": 2,
                                  "score": 33
                                },
                                "type": "object",
                                "properties": {
                                  "total": {
                                    "description": "The total number of votes for account features for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "up": {
                                    "description": "The total number of upvotes for account features for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "down": {
                                    "description": "The total number of downvotes for account features for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "score": {
                                    "description": "The score for the account features category, ranging from -100 to 100.",
                                    "type": "integer",
                                    "minimum": -100,
                                    "maximum": 100
                                  }
                                },
                                "required": ["total", "up", "down", "score"]
                              },
                              "branchAtmAccess": {
                                "description": "Aggregate voting counts and score for branch & ATM access category for this bank.",
                                "example": {
                                  "total": 5,
                                  "up": 3,
                                  "down": 2,
                                  "score": 20
                                },
                                "type": "object",
                                "properties": {
                                  "total": {
                                    "description": "The total number of votes for branch & ATM access for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "up": {
                                    "description": "The total number of upvotes for branch & ATM access for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "down": {
                                    "description": "The total number of downvotes for branch & ATM access for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "score": {
                                    "description": "The score for the branch & ATM access category, ranging from -100 to 100.",
                                    "type": "integer",
                                    "minimum": -100,
                                    "maximum": 100
                                  }
                                },
                                "required": ["total", "up", "down", "score"]
                              },
                              "internationalBanking": {
                                "description": "Aggregate voting counts and score for international banking category for this bank.",
                                "example": {
                                  "total": 4,
                                  "up": 3,
                                  "down": 1,
                                  "score": 50
                                },
                                "type": "object",
                                "properties": {
                                  "total": {
                                    "description": "The total number of votes for international banking for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "up": {
                                    "description": "The total number of upvotes for international banking for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "down": {
                                    "description": "The total number of downvotes for international banking for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "score": {
                                    "description": "The score for the international banking category, ranging from -100 to 100.",
                                    "type": "integer",
                                    "minimum": -100,
                                    "maximum": 100
                                  }
                                },
                                "required": ["total", "up", "down", "score"]
                              },
                              "businessBanking": {
                                "description": "Aggregate voting counts and score for business banking category for this bank.",
                                "example": {
                                  "total": 6,
                                  "up": 4,
                                  "down": 2,
                                  "score": 33
                                },
                                "type": "object",
                                "properties": {
                                  "total": {
                                    "description": "The total number of votes for business banking for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "up": {
                                    "description": "The total number of upvotes for business banking for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "down": {
                                    "description": "The total number of downvotes for business banking for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "score": {
                                    "description": "The score for the business banking category, ranging from -100 to 100.",
                                    "type": "integer",
                                    "minimum": -100,
                                    "maximum": 100
                                  }
                                },
                                "required": ["total", "up", "down", "score"]
                              },
                              "processingSpeed": {
                                "description": "Aggregate voting counts and score for processing speed category for this bank.",
                                "example": {
                                  "total": 3,
                                  "up": 2,
                                  "down": 1,
                                  "score": 33
                                },
                                "type": "object",
                                "properties": {
                                  "total": {
                                    "description": "The total number of votes for processing speed for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "up": {
                                    "description": "The total number of upvotes for processing speed for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "down": {
                                    "description": "The total number of downvotes for processing speed for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "score": {
                                    "description": "The score for the processing speed category, ranging from -100 to 100.",
                                    "type": "integer",
                                    "minimum": -100,
                                    "maximum": 100
                                  }
                                },
                                "required": ["total", "up", "down", "score"]
                              },
                              "transparency": {
                                "description": "Aggregate voting counts and score for transparency category for this bank.",
                                "example": {
                                  "total": 4,
                                  "up": 3,
                                  "down": 1,
                                  "score": 50
                                },
                                "type": "object",
                                "properties": {
                                  "total": {
                                    "description": "The total number of votes for transparency for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "up": {
                                    "description": "The total number of upvotes for transparency for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "down": {
                                    "description": "The total number of downvotes for transparency for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "score": {
                                    "description": "The score for the transparency category, ranging from -100 to 100.",
                                    "type": "integer",
                                    "minimum": -100,
                                    "maximum": 100
                                  }
                                },
                                "required": ["total", "up", "down", "score"]
                              },
                              "innovation": {
                                "description": "Aggregate voting counts and score for innovation category for this bank.",
                                "example": {
                                  "total": 3,
                                  "up": 2,
                                  "down": 1,
                                  "score": 33
                                },
                                "type": "object",
                                "properties": {
                                  "total": {
                                    "description": "The total number of votes for innovation for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "up": {
                                    "description": "The total number of upvotes for innovation for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "down": {
                                    "description": "The total number of downvotes for innovation for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "score": {
                                    "description": "The score for the innovation category, ranging from -100 to 100.",
                                    "type": "integer",
                                    "minimum": -100,
                                    "maximum": 100
                                  }
                                },
                                "required": ["total", "up", "down", "score"]
                              },
                              "investmentServices": {
                                "description": "Aggregate voting counts and score for investment services category for this bank.",
                                "example": {
                                  "total": 2,
                                  "up": 1,
                                  "down": 1,
                                  "score": 0
                                },
                                "type": "object",
                                "properties": {
                                  "total": {
                                    "description": "The total number of votes for investment services for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "up": {
                                    "description": "The total number of upvotes for investment services for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "down": {
                                    "description": "The total number of downvotes for investment services for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "score": {
                                    "description": "The score for the investment services category, ranging from -100 to 100.",
                                    "type": "integer",
                                    "minimum": -100,
                                    "maximum": 100
                                  }
                                },
                                "required": ["total", "up", "down", "score"]
                              },
                              "lending": {
                                "description": "Aggregate voting counts and score for lending category for this bank.",
                                "example": {
                                  "total": 2,
                                  "up": 1,
                                  "down": 1,
                                  "score": 0
                                },
                                "type": "object",
                                "properties": {
                                  "total": {
                                    "description": "The total number of votes for lending for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "up": {
                                    "description": "The total number of upvotes for lending for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "down": {
                                    "description": "The total number of downvotes for lending for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "score": {
                                    "description": "The score for the lending category, ranging from -100 to 100.",
                                    "type": "integer",
                                    "minimum": -100,
                                    "maximum": 100
                                  }
                                },
                                "required": ["total", "up", "down", "score"]
                              }
                            },
                            "required": [
                              "overall",
                              "cryptoFriendly",
                              "customerService",
                              "feesPricing",
                              "digitalExperience",
                              "securityTrust",
                              "accountFeatures",
                              "branchAtmAccess",
                              "internationalBanking",
                              "businessBanking",
                              "processingSpeed",
                              "transparency",
                              "innovation",
                              "investmentServices",
                              "lending"
                            ]
                          },
                          "countryId": {
                            "description": "The ID of the country where this bank is located.",
                            "example": "454hfjsjuusbf",
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date and time the bank was created in Moon Banking.",
                            "example": "2024-01-15T10:30:00.000Z"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date and time the bank was last updated in Moon Banking.",
                            "example": "2024-01-15T10:30:00.000Z"
                          },
                          "country": {
                            "description": "The country where the bank is located.",
                            "type": "object",
                            "properties": {
                              "id": {
                                "description": "The country's auto-generated unique identifier.",
                                "example": "454hfjsjuusbf",
                                "type": "string"
                              },
                              "name": {
                                "description": "The country's official name. Must be unique across all countries.",
                                "example": "United States",
                                "type": "string",
                                "minLength": 1,
                                "maxLength": 100
                              },
                              "code": {
                                "description": "The country's ISO 3166-1 code (2 characters).",
                                "example": "US",
                                "type": "string",
                                "minLength": 2,
                                "maxLength": 2
                              },
                              "emoji": {
                                "description": "The country's flag emoji representation.",
                                "example": "🇺🇸",
                                "type": "string"
                              }
                            },
                            "required": ["id", "name", "code", "emoji"]
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "storiesCount",
                          "countryId",
                          "createdAt",
                          "updatedAt"
                        ],
                        "description": "The bank model contains information about financial institutions."
                      }
                    },
                    "message": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string"
                    },
                    "version": {
                      "default": "2025-07-11",
                      "type": "string"
                    }
                  },
                  "required": ["success", "data", "timestamp", "version"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "description": "The error message",
                      "type": "string"
                    },
                    "code": {
                      "description": "The error code",
                      "type": "string"
                    },
                    "issues": {
                      "description": "An array of issues that were responsible for the error",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": ["message"]
                      }
                    }
                  },
                  "required": ["message", "code"]
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "description": "The error message",
                      "type": "string"
                    },
                    "code": {
                      "description": "The error code",
                      "type": "string"
                    },
                    "issues": {
                      "description": "An array of issues that were responsible for the error",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": ["message"]
                      }
                    }
                  },
                  "required": ["message", "code"]
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "description": "The error message",
                      "type": "string"
                    },
                    "code": {
                      "description": "The error code",
                      "type": "string"
                    },
                    "issues": {
                      "description": "An array of issues that were responsible for the error",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": ["message"]
                      }
                    }
                  },
                  "required": ["message", "code"]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "description": "The error message",
                      "type": "string"
                    },
                    "code": {
                      "description": "The error code",
                      "type": "string"
                    },
                    "issues": {
                      "description": "An array of issues that were responsible for the error",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": ["message"]
                      }
                    }
                  },
                  "required": ["message", "code"]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "description": "The error message",
                      "type": "string"
                    },
                    "code": {
                      "description": "The error code",
                      "type": "string"
                    },
                    "issues": {
                      "description": "An array of issues that were responsible for the error",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": ["message"]
                      }
                    }
                  },
                  "required": ["message", "code"]
                }
              }
            }
          }
        },
        "x-meta": {
          "isPublic": true,
          "jsSdk": {
            "command": "const banks = await client.banks.getByHostname({ hostname: 'fidelity.com' });"
          }
        }
      }
    },
    "/banks": {
      "get": {
        "operationId": "bank-get",
        "description": "This endpoint allows you to retrieve a paginated list of all banks. By default, a maximum of ten banks are shown per page. You can search banks by name, filter by country, sort them by various fields, and include related data like scores and country information.",
        "tags": ["banks"],
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "example": 20,
              "default": 10
            },
            "description": "Number of items to return."
          },
          {
            "name": "starting_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "8HsY5nBc7jAqM4u"
            },
            "description": "Cursor for forward pagination. Use the id of the last item from the previous page to get the next page."
          },
          {
            "name": "ending_before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "6jkxE4N8gHXgDPK"
            },
            "description": "Cursor for backward pagination. Use the id of the first item from the current page to get the previous page."
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "Fidelity"
            },
            "description": "Search banks by name."
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "rank",
                "countryRank",
                "storiesCount",
                "countryId",
                "overall_score",
                "overall_total",
                "overall_up",
                "overall_down",
                "cryptoFriendly_score",
                "cryptoFriendly_total",
                "cryptoFriendly_up",
                "cryptoFriendly_down",
                "customerService_score",
                "customerService_total",
                "customerService_up",
                "customerService_down",
                "feesPricing_score",
                "feesPricing_total",
                "feesPricing_up",
                "feesPricing_down",
                "digitalExperience_score",
                "digitalExperience_total",
                "digitalExperience_up",
                "digitalExperience_down",
                "securityTrust_score",
                "securityTrust_total",
                "securityTrust_up",
                "securityTrust_down",
                "accountFeatures_score",
                "accountFeatures_total",
                "accountFeatures_up",
                "accountFeatures_down",
                "branchAtmAccess_score",
                "branchAtmAccess_total",
                "branchAtmAccess_up",
                "branchAtmAccess_down",
                "internationalBanking_score",
                "internationalBanking_total",
                "internationalBanking_up",
                "internationalBanking_down",
                "businessBanking_score",
                "businessBanking_total",
                "businessBanking_up",
                "businessBanking_down",
                "processingSpeed_score",
                "processingSpeed_total",
                "processingSpeed_up",
                "processingSpeed_down",
                "transparency_score",
                "transparency_total",
                "transparency_up",
                "transparency_down",
                "innovation_score",
                "innovation_total",
                "innovation_up",
                "innovation_down",
                "investmentServices_score",
                "investmentServices_total",
                "investmentServices_up",
                "investmentServices_down",
                "lending_score",
                "lending_total",
                "lending_up",
                "lending_down"
              ],
              "example": "name",
              "default": "name"
            },
            "description": "Field to sort by."
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"],
              "example": "asc",
              "default": "asc"
            },
            "description": "Sort order. Either ascending or descending."
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "scores,country,meta"
            },
            "description": "An optional  comma-separated list of fields to include in the response. Possible values: `scores`, `country`, `meta`"
          },
          {
            "name": "countryId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "454hfjsjuusbf"
            },
            "description": "Only return banks in the specified country. A country's ID is Moon Banking's unique identifier for the country."
          },
          {
            "name": "countryCode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "US"
            },
            "description": "Only return banks in the specified country. A country's code is the ISO 3166-1 code for the country. If both `countryId` and `countryCode` are provided, `countryId` will be used."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [true]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "description": "The bank's auto-generated unique identifier.",
                            "example": "6jkxE4N8gHXgDPK",
                            "type": "string"
                          },
                          "name": {
                            "description": "The bank's official name or display name.",
                            "example": "Fidelity",
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 256
                          },
                          "rank": {
                            "description": "The bank's worldwide rank. Based on the bank's overall score, which is determined by user votes across all categories. Only banks with at least 10 votes are ranked.",
                            "example": 1,
                            "anyOf": [
                              {
                                "type": "integer",
                                "minimum": 0,
                                "maximum": 9007199254740991
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "countryRank": {
                            "description": "The bank's rank within the country. Based on the bank's overall score, which is determined by user votes across all categories. Only banks with at least 10 votes are ranked.",
                            "example": 1,
                            "anyOf": [
                              {
                                "type": "integer",
                                "minimum": 0,
                                "maximum": 9007199254740991
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "url": {
                            "description": "The bank's official website URL.",
                            "example": "https://www.fidelity.com",
                            "anyOf": [
                              {
                                "type": "string",
                                "format": "uri"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "description": {
                            "description": "The bank's description in Markdown (md) format.",
                            "example": "# Fidelity\n\nFidelity is a financial institution that provides banksing and investment services to individuals.",
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "storiesCount": {
                            "description": "The number of stories for this bank.",
                            "example": 10,
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 9007199254740991
                          },
                          "scores": {
                            "description": "Vote totals and scores for this bank across all categories. All votes are cast by users.",
                            "type": "object",
                            "properties": {
                              "overall": {
                                "description": "Aggregate voting counts and score for this bank across all voting categories.",
                                "example": {
                                  "total": 45,
                                  "up": 30,
                                  "down": 15,
                                  "score": 33
                                },
                                "type": "object",
                                "properties": {
                                  "total": {
                                    "description": "The total number of votes for this bank. This is the sum of upvotes and downvotes across all categories.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "up": {
                                    "description": "The total number of upvotes for this bank. This is the sum of upvotes across all categories.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "down": {
                                    "description": "The total number of downvotes for this bank. This is the sum of downvotes across all categories.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "score": {
                                    "description": "The overall score for this bank across all categories, ranging from -100 to 100.",
                                    "type": "integer",
                                    "minimum": -100,
                                    "maximum": 100
                                  }
                                },
                                "required": ["total", "up", "down", "score"]
                              },
                              "cryptoFriendly": {
                                "description": "Aggregate voting counts and score for crypto-friendliness category for this bank.",
                                "example": {
                                  "total": 12,
                                  "up": 8,
                                  "down": 4,
                                  "score": 33
                                },
                                "type": "object",
                                "properties": {
                                  "total": {
                                    "description": "The total number of votes for crypto-friendliness for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "up": {
                                    "description": "The total number of upvotes for crypto-friendliness for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "down": {
                                    "description": "The total number of downvotes for crypto-friendliness for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "score": {
                                    "description": "The score for the crypto-friendliness category, ranging from -100 to 100.",
                                    "type": "integer",
                                    "minimum": -100,
                                    "maximum": 100
                                  }
                                },
                                "required": ["total", "up", "down", "score"]
                              },
                              "customerService": {
                                "description": "Aggregate voting counts and score for customer service category for this bank.",
                                "example": {
                                  "total": 10,
                                  "up": 7,
                                  "down": 3,
                                  "score": 40
                                },
                                "type": "object",
                                "properties": {
                                  "total": {
                                    "description": "The total number of votes for customer service for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "up": {
                                    "description": "The total number of upvotes for customer service for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "down": {
                                    "description": "The total number of downvotes for customer service for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "score": {
                                    "description": "The score for the customer service category, ranging from -100 to 100.",
                                    "type": "integer",
                                    "minimum": -100,
                                    "maximum": 100
                                  }
                                },
                                "required": ["total", "up", "down", "score"]
                              },
                              "feesPricing": {
                                "description": "Aggregate voting counts and score for fees & pricing category for this bank.",
                                "example": {
                                  "total": 8,
                                  "up": 5,
                                  "down": 3,
                                  "score": 25
                                },
                                "type": "object",
                                "properties": {
                                  "total": {
                                    "description": "The total number of votes for fees & pricing for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "up": {
                                    "description": "The total number of upvotes for fees & pricing for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "down": {
                                    "description": "The total number of downvotes for fees & pricing for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "score": {
                                    "description": "The score for the fees & pricing category, ranging from -100 to 100.",
                                    "type": "integer",
                                    "minimum": -100,
                                    "maximum": 100
                                  }
                                },
                                "required": ["total", "up", "down", "score"]
                              },
                              "digitalExperience": {
                                "description": "Aggregate voting counts and score for digital experience category for this bank.",
                                "example": {
                                  "total": 7,
                                  "up": 4,
                                  "down": 3,
                                  "score": 14
                                },
                                "type": "object",
                                "properties": {
                                  "total": {
                                    "description": "The total number of votes for digital experience for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "up": {
                                    "description": "The total number of upvotes for digital experience for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "down": {
                                    "description": "The total number of downvotes for digital experience for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "score": {
                                    "description": "The score for the digital experience category, ranging from -100 to 100.",
                                    "type": "integer",
                                    "minimum": -100,
                                    "maximum": 100
                                  }
                                },
                                "required": ["total", "up", "down", "score"]
                              },
                              "securityTrust": {
                                "description": "Aggregate voting counts and score for security & trust category for this bank.",
                                "example": {
                                  "total": 9,
                                  "up": 6,
                                  "down": 3,
                                  "score": 33
                                },
                                "type": "object",
                                "properties": {
                                  "total": {
                                    "description": "The total number of votes for security & trust for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "up": {
                                    "description": "The total number of upvotes for security & trust for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "down": {
                                    "description": "The total number of downvotes for security & trust for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "score": {
                                    "description": "The score for the security & trust category, ranging from -100 to 100.",
                                    "type": "integer",
                                    "minimum": -100,
                                    "maximum": 100
                                  }
                                },
                                "required": ["total", "up", "down", "score"]
                              },
                              "accountFeatures": {
                                "description": "Aggregate voting counts and score for account features category for this bank.",
                                "example": {
                                  "total": 6,
                                  "up": 4,
                                  "down": 2,
                                  "score": 33
                                },
                                "type": "object",
                                "properties": {
                                  "total": {
                                    "description": "The total number of votes for account features for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "up": {
                                    "description": "The total number of upvotes for account features for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "down": {
                                    "description": "The total number of downvotes for account features for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "score": {
                                    "description": "The score for the account features category, ranging from -100 to 100.",
                                    "type": "integer",
                                    "minimum": -100,
                                    "maximum": 100
                                  }
                                },
                                "required": ["total", "up", "down", "score"]
                              },
                              "branchAtmAccess": {
                                "description": "Aggregate voting counts and score for branch & ATM access category for this bank.",
                                "example": {
                                  "total": 5,
                                  "up": 3,
                                  "down": 2,
                                  "score": 20
                                },
                                "type": "object",
                                "properties": {
                                  "total": {
                                    "description": "The total number of votes for branch & ATM access for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "up": {
                                    "description": "The total number of upvotes for branch & ATM access for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "down": {
                                    "description": "The total number of downvotes for branch & ATM access for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "score": {
                                    "description": "The score for the branch & ATM access category, ranging from -100 to 100.",
                                    "type": "integer",
                                    "minimum": -100,
                                    "maximum": 100
                                  }
                                },
                                "required": ["total", "up", "down", "score"]
                              },
                              "internationalBanking": {
                                "description": "Aggregate voting counts and score for international banking category for this bank.",
                                "example": {
                                  "total": 4,
                                  "up": 3,
                                  "down": 1,
                                  "score": 50
                                },
                                "type": "object",
                                "properties": {
                                  "total": {
                                    "description": "The total number of votes for international banking for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "up": {
                                    "description": "The total number of upvotes for international banking for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "down": {
                                    "description": "The total number of downvotes for international banking for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "score": {
                                    "description": "The score for the international banking category, ranging from -100 to 100.",
                                    "type": "integer",
                                    "minimum": -100,
                                    "maximum": 100
                                  }
                                },
                                "required": ["total", "up", "down", "score"]
                              },
                              "businessBanking": {
                                "description": "Aggregate voting counts and score for business banking category for this bank.",
                                "example": {
                                  "total": 6,
                                  "up": 4,
                                  "down": 2,
                                  "score": 33
                                },
                                "type": "object",
                                "properties": {
                                  "total": {
                                    "description": "The total number of votes for business banking for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "up": {
                                    "description": "The total number of upvotes for business banking for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "down": {
                                    "description": "The total number of downvotes for business banking for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "score": {
                                    "description": "The score for the business banking category, ranging from -100 to 100.",
                                    "type": "integer",
                                    "minimum": -100,
                                    "maximum": 100
                                  }
                                },
                                "required": ["total", "up", "down", "score"]
                              },
                              "processingSpeed": {
                                "description": "Aggregate voting counts and score for processing speed category for this bank.",
                                "example": {
                                  "total": 3,
                                  "up": 2,
                                  "down": 1,
                                  "score": 33
                                },
                                "type": "object",
                                "properties": {
                                  "total": {
                                    "description": "The total number of votes for processing speed for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "up": {
                                    "description": "The total number of upvotes for processing speed for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "down": {
                                    "description": "The total number of downvotes for processing speed for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "score": {
                                    "description": "The score for the processing speed category, ranging from -100 to 100.",
                                    "type": "integer",
                                    "minimum": -100,
                                    "maximum": 100
                                  }
                                },
                                "required": ["total", "up", "down", "score"]
                              },
                              "transparency": {
                                "description": "Aggregate voting counts and score for transparency category for this bank.",
                                "example": {
                                  "total": 4,
                                  "up": 3,
                                  "down": 1,
                                  "score": 50
                                },
                                "type": "object",
                                "properties": {
                                  "total": {
                                    "description": "The total number of votes for transparency for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "up": {
                                    "description": "The total number of upvotes for transparency for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "down": {
                                    "description": "The total number of downvotes for transparency for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "score": {
                                    "description": "The score for the transparency category, ranging from -100 to 100.",
                                    "type": "integer",
                                    "minimum": -100,
                                    "maximum": 100
                                  }
                                },
                                "required": ["total", "up", "down", "score"]
                              },
                              "innovation": {
                                "description": "Aggregate voting counts and score for innovation category for this bank.",
                                "example": {
                                  "total": 3,
                                  "up": 2,
                                  "down": 1,
                                  "score": 33
                                },
                                "type": "object",
                                "properties": {
                                  "total": {
                                    "description": "The total number of votes for innovation for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "up": {
                                    "description": "The total number of upvotes for innovation for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "down": {
                                    "description": "The total number of downvotes for innovation for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "score": {
                                    "description": "The score for the innovation category, ranging from -100 to 100.",
                                    "type": "integer",
                                    "minimum": -100,
                                    "maximum": 100
                                  }
                                },
                                "required": ["total", "up", "down", "score"]
                              },
                              "investmentServices": {
                                "description": "Aggregate voting counts and score for investment services category for this bank.",
                                "example": {
                                  "total": 2,
                                  "up": 1,
                                  "down": 1,
                                  "score": 0
                                },
                                "type": "object",
                                "properties": {
                                  "total": {
                                    "description": "The total number of votes for investment services for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "up": {
                                    "description": "The total number of upvotes for investment services for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "down": {
                                    "description": "The total number of downvotes for investment services for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "score": {
                                    "description": "The score for the investment services category, ranging from -100 to 100.",
                                    "type": "integer",
                                    "minimum": -100,
                                    "maximum": 100
                                  }
                                },
                                "required": ["total", "up", "down", "score"]
                              },
                              "lending": {
                                "description": "Aggregate voting counts and score for lending category for this bank.",
                                "example": {
                                  "total": 2,
                                  "up": 1,
                                  "down": 1,
                                  "score": 0
                                },
                                "type": "object",
                                "properties": {
                                  "total": {
                                    "description": "The total number of votes for lending for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "up": {
                                    "description": "The total number of upvotes for lending for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "down": {
                                    "description": "The total number of downvotes for lending for this bank.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "score": {
                                    "description": "The score for the lending category, ranging from -100 to 100.",
                                    "type": "integer",
                                    "minimum": -100,
                                    "maximum": 100
                                  }
                                },
                                "required": ["total", "up", "down", "score"]
                              }
                            },
                            "required": [
                              "overall",
                              "cryptoFriendly",
                              "customerService",
                              "feesPricing",
                              "digitalExperience",
                              "securityTrust",
                              "accountFeatures",
                              "branchAtmAccess",
                              "internationalBanking",
                              "businessBanking",
                              "processingSpeed",
                              "transparency",
                              "innovation",
                              "investmentServices",
                              "lending"
                            ]
                          },
                          "countryId": {
                            "description": "The ID of the country where this bank is located.",
                            "example": "454hfjsjuusbf",
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date and time the bank was created in Moon Banking.",
                            "example": "2024-01-15T10:30:00.000Z"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date and time the bank was last updated in Moon Banking.",
                            "example": "2024-01-15T10:30:00.000Z"
                          },
                          "country": {
                            "description": "The country where the bank is located.",
                            "type": "object",
                            "properties": {
                              "id": {
                                "description": "The country's auto-generated unique identifier.",
                                "example": "454hfjsjuusbf",
                                "type": "string"
                              },
                              "name": {
                                "description": "The country's official name. Must be unique across all countries.",
                                "example": "United States",
                                "type": "string",
                                "minLength": 1,
                                "maxLength": 100
                              },
                              "code": {
                                "description": "The country's ISO 3166-1 code (2 characters).",
                                "example": "US",
                                "type": "string",
                                "minLength": 2,
                                "maxLength": 2
                              },
                              "emoji": {
                                "description": "The country's flag emoji representation.",
                                "example": "🇺🇸",
                                "type": "string"
                              }
                            },
                            "required": ["id", "name", "code", "emoji"]
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "storiesCount",
                          "countryId",
                          "createdAt",
                          "updatedAt"
                        ],
                        "description": "The bank model contains information about financial institutions."
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "hasMore": {
                          "description": "Whether there are more items available",
                          "example": true,
                          "type": "boolean"
                        },
                        "limit": {
                          "description": "Number of items per page",
                          "example": 20,
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        },
                        "nextCursor": {
                          "description": "Cursor for the next page. Use this as the starting_after parameter for the next request. Null if no more pages.",
                          "example": "8HsY5nBc7jAqM4u",
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "previousCursor": {
                          "description": "Cursor for the previous page. Use this as the ending_before parameter for the previous request. Null if no previous pages.",
                          "example": "6jkxE4N8gHXgDPK",
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "meta": {
                          "description": "If meta is included in the include parameter, the meta object will be included in the response.",
                          "type": "object",
                          "properties": {
                            "total": {
                              "description": "Total count of all items that match the query parameters",
                              "type": "integer",
                              "minimum": 0,
                              "maximum": 9007199254740991
                            }
                          },
                          "required": ["total"]
                        }
                      },
                      "required": ["hasMore", "limit", "nextCursor"]
                    },
                    "message": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string"
                    },
                    "version": {
                      "default": "2025-07-11",
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "pagination",
                    "timestamp",
                    "version"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
[...]
